body {
    background-image: url("../../assets/images/bg.jfif");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    margin-left: 30px;
    margin-top: 50px;
}

label {
    font-weight: bold;
}